@using LuduStack.Domain.Models;
@using MetaG.Application.ViewModels;
@model List<Game>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@foreach (var item in Model)
{

    <div class="game-item mg36-slick">

        <div class="left-content">
            <img src="@item.ThumbnailUrl" style="width:161px" alt="" />
            <div class="score">4,5</div>
        </div>

        <div class="right-content">
            <div class="info">
                <div class="info-heading">
                    <p class="game-name">@item.Title</p>
                    <p class="release-date">@item.PublishDate</p>
                </div>

                <div class="lines">
                    <div class="info-line">
                        <p>Người chơi:</p>
                        <span>@item.NumberPlays</span>
                    </div>
                    <div class="info-line">
                        <p>Thể loại:</p>
                        <span>@item.Genre</span>
                    </div>
                    <div class="info-line">
                        <p>Nhà cung cấp:</p>
                        <span>@item.DeveloperName</span>
                    </div>
                </div>
            </div>

            <button class="styled-btn max-size">CHƠI NGAY</button>
        </div>
    </div>
}